.bg{
    background-image: url("../../assets/bgimg.jpg");
        width: 100%; 
        height: 100vh ;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
}
.stt{
    width: 27%;
    border: 0.1ch solid darkgreen;
    
    padding-top:2%;
    height: 600px;
    margin-top: 5%;
    background-color: green;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 10px 30px 0 rgba(0, 0, 0, 0.30);
}

.fieldstyle{
    width: 75%;
    margin-left: 12%;
    color: white;
    
}